<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @anchorage_ground.name %>
</p>


<%= link_to 'Edit', edit_anchorage_ground_path(@anchorage_ground) %> |
<%= link_to 'Back', anchorage_grounds_path %>
