<h1>Anchoring History</h1>

<table>
  <% @anchorings.each do |anchoring| %>
    <tr>
      <td><%= link_to anchoring.ship_name, history_anchoring_path(anchoring) %></td>
    </tr>
  <% end %>
</table>

