<% content_for :header do %>
  <h1>Anchoring Applies</h1>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Ship Name</th>
    </tr>
  </thead>

  <tbody>
  <% @anchorings.each_with_index do |anchoring, index| %>
    <tr>
      <td><%= i+1+params[:page].to_i*PER_PAGE %>
      <td><%= link_to anchoring.ship_name, anchoring_path(anchoring) %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= will_paginate @anchorings, renderer: BootstrapPagination::Rails %>
