<% content_for :header do %>
<h1><%= t('.edit_user') %></h1>
<% end %>

<%= render 'form' %>

<%= link_to t('.show'), @user, class: "btn btn-default" %>
<%= link_to t('.back'), users_path, class: "btn btn-default" %>
