// Place all the styles related to the anchorage_grounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anchorage_ground{
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  border-width: 1px;
  border-color: #DDD;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  border-style: solid;
  padding: 5px 15px 15px;
  margin: 0 0 15px;
}
